@font-face {
    src: url("../../../../../../public/static/fonts/Figtree/Figtree-Medium.ttf");
    font-family: "figtree-medium";
  }
  @font-face {
    src: url("../../../../../../public/static/fonts/Figtree/Figtree-Regular.ttf");
    font-family: "figtree-regular";
  }
  @font-face {
    src: url("../../../../../../public/static/fonts/Figtree/Figtree-SemiBold.ttf");
    font-family: "figtree-semibold";
  }

body {
    background-color: #051521;
}

.mainBanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1b2934;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  width: 808px;
}

.profileBanner {
   display: flex;
   flex-direction: row;
}

.profileImage, .followers, .name {
  display: flex;
}

.name {
  font-size: 22px;
  margin-top: -5px;
}

.country {
  margin: 3px;
}

.profileInfo > p {
  font-size: 14px;
  color: #989ca1;
}

.profileImage {
    border-radius: 10px;
}

.profileInfo {
  margin: 10px;
}

.followers {
  font-size: 14px;
  margin-top: 6px;
}

.followers span {
  color: #989ca1;
}

.users {
  margin-top: 1.5px;
  margin-left: -4px;
}

.stats {
  display: flex;
  margin: 10px;
  gap: 35px;
}

.one div {
  display: flex;
}

.one div p, .two span {
  font-size: 32px;
  font-family: "figtree-medium";
}

.myline {
  margin-top: 40px;
  outline: none;
  width: 65px;
  rotate: 90deg;
}

.two p, .one > p {
  color: #a4a9ae;
}

.trophy {
  margin-left: 2px;
  margin-bottom: 7px;
  position: relative;
}

.prizes {
    display: flex;
    flex-wrap: wrap;
}

.prizes div {
    background-color: #1b2934;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    width: 82px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.prizes p {
    font-size: 10px;
    margin-top: 4px;
}

.mega {
    margin-top: -8px;
    position: relative;
    scale: 4;
    height: 60px;
    width: 60px;
}

.megaText {
    margin: -48px;
    position: absolute;
}

@media only screen and (max-width: 800px) {
  .mainBanner {
    width: 323px;
  }
  .name {
    font-size: 18px;
  }
}