.chart {
    width: "100%";
    height: 300;
    background-color: #1b2934;
    border-radius: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .chart {
        width: 323px;
        overflow-x: scroll;
    }
}