@font-face {
    font-family: "figtree_semi_bold";
    src: url("/static/fonts/figtree/Figtree-SemiBold.ttf");
  }
@font-face {
    font-family: "figtree_bold";
    src: url("/static/fonts/figtree/Figtree-Bold.ttf");
  }
@font-face {
    font-family: "figtree_reg";
    src: url("/static/fonts/figtree/Figtree-Regular.ttf");
  }
@font-face {
    font-family: "figtree_med";
    src: url("/static/fonts/figtree/Figtree-Medium.ttf");
  }
@font-face {
    font-family: "pixal";
    src: url("/static/fonts/pixel/pixelfont-7.ttf");
  }
@font-face {
    font-family: "firacode_reg";
    src: url("/static/fonts/firaCode/FiraCode-Regular.ttf");
  }
@font-face {
    font-family: "ibm_plex_mono";
    src: url("/static/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
  }



  /* ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #1E1E1E;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.container{
    display: flex;
    flex-direction: column;
    min-height: 550px;
    min-width: 1000px;;
    height: 100vh;
    gap: 8px;
    background-color: #030016;
    padding:4px 20px 10px 20px;
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

.nav_box_1 {
    width: 80%;
    height: 40px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "figtree_semi_bold";
}

.nav_box_1 label span{
    color: #F88D5F;
}


.nav_box_1_base_text{
    font-family: "figtree_bold";
    color: #FFFFFF;
    font-size: 20px;
}



.nav_box_2{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    width: 56%;
    min-width: 200px;
    max-width: 300px;
    height: 32px;
    margin: 0 auto;
    margin-top:auto;
}

.nav_box_2_item_1,.nav_box_2_item_2,.nav_box_2_item_3{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav_box_2_item_1{
    background-color: #8F8F8F;
    border-radius: 20px 0 0 20px;
    border: 1px solid #8F8F8F73;
}

.nav_box_2_item_2{
    background-color: #378D59F2;
    border:1px #00000073;
}


.nav_box_2_item_3{
    background-color: #00C133;
    border-radius: 0 20px 20px 0;
    border: 1px solid #8F8F8F73;
}

.nav_box_2 span{
    height: 100%;
    border:2px solid #B88787;
    border:2px solid #B88787;
}

.nav_box_3{
    display: flex;
    min-width: 240PX;
    width: 70%;
    max-width: 300px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    columns:4;
    column-gap: 12px;
    border: 1px solid #555555;
    background-color: #1C1B1B;
    margin-left: auto;
    border-radius: 6px;
}

.nav_box_3_item_1{
    font-family: "figtree_semi_bold";
    font-size: 16px;
    color: #9C9C9C;
    width: 34%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2px;
}

.nav_box_3_item_2{
    display: flex;
    align-items: center;
}

.nav_box_3_item_3{
    display: flex;
    width: 44%;
    height: 100%;
    gap: 12px;
    align-items: center;
    margin-right: 12px;

}

.profile_img{
    margin-top: 10px;
}

.nav_box_3_item_3 div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px;
    border: 3px ;
    box-shadow: 0 0 6px 1px #D9D9D980;
}

.gradiant_1,.gradiant_2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    
}

.gradiant_1{
    background: linear-gradient(to right,#D1403D,#F28059);
    border-radius:8px 0 0 8px;
}
.gradiant_2{
    background: linear-gradient(to right,#6D5AB4,#3B5A96);
    border-radius:0 8px 8px 0;
}

.body_cont{
    display: flex;
    align-items: center;
    height: 94%;
    /* width: 100%; */
    column-gap: 6px;
}

.left_cont{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #001023;
    border: 1px solid #FFFFFFBF;
    overflow-y: auto;
}

.left_cont_headder{
    display: flex;
    background-color: #001E3F;
    border-bottom: 1px solid #FFFFFFBF;   
    align-items: center;
    justify-content: flex-start;
    height: 8%;
    font-family: "pixal";
    font-size: 18px;
    color: #FFFFFF;
}

.left_cont_headder span,.left_cont_headder label{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
}

.left_cont_headder label{
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.left_cont_body{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 92%;
    width: 100%;
}

.problem{
    display: flex;
    flex-direction: column;
    height: 92%;
    overflow: auto;
    cursor: default;
    -webkit-user-select:none;
    user-select: none;
    color: #FFFFFF;
    padding: 12px 24px;
}

.problem label{
    font-family: "figtree_semi_bold";
    font-size: 32px;
}

.problem p{
    font-family: "figtree_med";
    font-size: 18px;
    margin: 24px 0;
    
}

.problem span{
    font-family: "figtree_reg";
    font-size: 22px;
}

.example_box{
    display: flex;
    flex-direction: column;
    padding: 14px;
    min-height: 70px;  
    width: 96%;
    overflow-y: auto;
    background-color: #4C4C4C3F;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    gap: 6px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.example_box_min_height{
    min-height: 200px !important;
}

.example_box label{
    font-family: "firacode_reg";
    font-size: 16px;   
}

.example_box label p{
    display: inline;
    font-size: 14px;
    color: #BABABA;
}

.topics_text{
    font-size: 18px !important;
}

.topics_items{
    display: flex;
    gap: 4px;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 12px;
}

.topics_items span{
    border-radius: 4px;
    text-align: center;
    font-size: 12px !important;
    background-color: #4C4C4C3F;
    color: #ACACAC;
    padding: 6px 24px;
}

.chat_box_open{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    z-index: 2000;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition:400ms linear;
    font-family: "ibm_plex_mono";
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
 
}

.chat_box_close{
    display: flex;
    height: 8%;
    transition:200ms linear; 
    font-family: "pixal";
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}




.chat_box_close,.chat_box_open{
    border: 1px solid #8A8A8A73;
    background-color: #021C3B;
}

.chat_messages_data{
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    gap: 12px;
    height: 82%;
    width: 100%;
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px;
}

.message_box{
    margin-top: auto;

}

.chat_messages_data span{
    font-size: 10px;
    padding-left: 4px;
}

.chat_input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 52px;
    min-width:20%;
    width: 96%;
    border: 1px solid #8A8A8A73;
}

.chat_input input{
    height: 34px;
    padding: 12px 24px;
    min-width: 20%;
    width: 80%;
    background-color: #9A9A9A40;
    font-size: 14px;
    border-radius: 45px;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.chat_input button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    background-color: #BEBEBE30;
    border-radius: 6px;
    border: none;
}



.chat_input input::placeholder{
    color: #FFFFFF8C;
}


.chat_close{
    height: 26px;
    border: 1px solid #8A8A8A73;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    margin-left: auto;
    margin-right: 10px;
}



.chat_open{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.chat_open div{
    width: 0;
    height: 0;
    border-bottom: 14px solid #FFFFFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 2px;
}

.chat_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}


.right_cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 8px;
    transition: 200ms linear;
  
}

.code_cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #FFFFFFBF; 
    transition: 200ms linear;
}

.code_headder{
    display: flex;
    min-height: 52px;
    background-color: #001E3F;
    border-bottom: 1px solid #FFFFFFBF;   
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    font-family: "pixal";
    font-size: 18px;
    color: #FFFFFF;
}

.code_headder > div{
    display: flex;
    gap: 24px;
}

.headder_img{
    cursor: pointer;
}



.code_editor{
    height: 100%;
    width: 100%;
    padding-top: 12px;
    overflow: hidden;
}

.full_screen{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 800px;
    width: 100%;
    z-index: 5000;
    background-color: #001023;
    transition: 200ms ease-in-out;
}



.full_screen button{
    background-color: transparent;
    outline: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "figtree_semi_bold";
    font-size: 16px;
    margin: 12px 0;
    margin-left: auto;
    margin-right: 24px;

}



.code_cont,.result_cont{
    background-color: #000F20;
}


.result_cont{
    display: grid;
    grid-template-rows: 42px 1fr;
    height: 30%;
    border:1px solid #FFFFFFBF; 
    transition: 200ms linear;
}

.result_headder{
    display: flex;
    border-bottom: 1px solid #FFFFFFBF;
    height: 42px;
    width: 100%;
    font-family: "figtree_semi_bold";
    font-size: 16px;
    color: #FFFFFF;
    gap: 10px;
    align-items: center;
    padding-left: 24px;
    background-color: #001E3F;
}

.results{
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    color: #FFFFFF;
    min-height: 100%;
    overflow-y: auto;
}

@media (max-width: 1000px) {
    
}