@font-face {
    src: url("../../../../../../public/static/fonts/Figtree/Figtree-Medium.ttf");
    font-family: "figtree-medium";
  }
  @font-face {
    src: url("../../../../../../public/static/fonts/Figtree/Figtree-Regular.ttf");
    font-family: "figtree-regular";
  }
  @font-face {
    src: url("../../../../../../public/static/fonts/Figtree/Figtree-SemiBold.ttf");
    font-family: "figtree-semibold";
  }

.recentContests {
    background-color: #1b2934;
    height: 325px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.recent {
    font-size: 22px;
    font-family: "figtree-medium";
    margin-bottom: 15px;
}

.contestInfo, .contestDetails {
    display: flex;
}

.contestInfo {
    margin-bottom: 5px;
}

.war {
    margin-top: -24px;
}

.contestDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contestName {
    font-size: 18px;
    font-family: "figtree-semibold";
    color: #ffffff;
}

.result  {
    font-size: 10px;
    font-family: "figtree-medium";
}

.result span{
    color: blue;
}

.amount {
    display: flex;
    font-size: 22px;
    font-family: "figtree-semibold";
}

.date {
    font-size: 12px;
    font-family: "figtree-regular";
    color: #babec2;
}

.container {
    margin-bottom: 10px;
}

.hrLine {
    width: 95%;
    border: 1px solid #49545d;
    margin: 0 auto;
    margin-left: 30px;
}

@media only screen and (max-width: 800px) {
    .recentContests {
        width: 323px;
    }
}